%h1= @topic.title

-@topic_posts.each do |post|
  %div{id: "post-#{post.id}"}
    %h3.post-title= post.title
    %p.post-body= post.body
    -if current_user && post.user_id == current_user.id
      =link_to 'Edit', edit_topic_post_path(@topic, post)
      =link_to 'Delete', topic_post_path(@topic, post), method: :delete
